@import "tailwindcss";

:root {
  --primary: #8B5E3B;
  --secondary: #E8C078;
  --background: #F5F5DC;
  --accent: #4C7A44;
  --text: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
